
Make an API call to Alpaca via Alpaca SDK to get history closing prices of SPY.

In [9]:
#using alpaca to get tsla and gold data

#import libraries
import pandas as pd
import os
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import requests
import hvplot.pandas
import json

In [10]:
load_dotenv()

Python-dotenv could not parse statement starting at line 1

True

Create a .env folder with Alpaca API key and Alpaca secret key.

Set variables for Alpaca API and Alpaca secret keys.


call API keys using os.getenv 


Create tradeapi.REST object with the Alpaca key and secret keys along with version number.

In [12]:
# Set the variables for the Alpaca API and secret keys
alpaca_api_key = os.getenv("alpaca_api_key")
alpaca_secret_key = os.getenv("alpaca_secret_key")
alpaca_base_url = "https://paper-api.alpaca.markets"
display(type(alpaca_api_key))
display(type(alpaca_secret_key))

#create alpaca api object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

str

str

Create parameters for Alpaca Api call setting start and end date

In [13]:
#format current date as iso format for ticker SPY
#7 year time period

start_date = pd.Timestamp("2015-12-01",tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-08-22",tz="America/New_York").isoformat()

#set spy ticker

tickers = ["SPY"]

#set timeframe to ('1Day') for alpaca api 
timeframe = '1D'

Format response by getting closing price for SPY

In [15]:
#closing price for SPY

alpaca_spy_df = alpaca.get_bars(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

alpaca_spy_df

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2015-12-01 05:00:00+00:00,209.42,210.8200,209.1100,210.68,97858418,337780,209.921410,SPY
2015-12-02 05:00:00+00:00,210.60,211.0000,208.2300,208.54,108069059,367013,209.563055,SPY
2015-12-03 05:00:00+00:00,208.90,209.1500,204.7511,205.58,166224154,546768,206.878936,SPY
2015-12-04 05:00:00+00:00,206.10,209.9700,205.9300,209.66,192878747,556731,208.178631,SPY
2015-12-07 05:00:00+00:00,209.20,209.7295,207.2000,208.27,102027111,374705,208.276128,SPY
...,...,...,...,...,...,...,...,...
2022-08-16 04:00:00+00:00,427.62,431.7300,426.8800,429.70,59118566,410281,429.307919,SPY
2022-08-17 04:00:00+00:00,425.94,429.5000,424.5400,426.65,63266564,451881,426.965059,SPY
2022-08-18 04:00:00+00:00,426.78,428.6100,425.5000,427.89,47948507,331980,427.137042,SPY
2022-08-19 04:00:00+00:00,424.87,425.2600,421.2200,422.14,67861630,438953,423.097019,SPY
2022-08-22 04:00:00+00:00,417.04,417.2300,412.4000,413.35,77604197,484052,415.048519,SPY

Drop the SPY symbol to clean dataframe

In [ ]:
#close price for SPY 

SPY = alpaca_spy_df[alpaca_spy_df['symbol']=='SPY'].drop('symbol',axis=1)

alpaca_spy_df = pd.concat([SPY],axis=1,keys=['SPY'])
display(alpaca_spy_df.head())
display(alpaca_spy_df.tail())

Create SPY closing dataframe by slicing close column in the Spy dataframe

In [ ]:
#get closing price for SPY from Alpaca DF


spy_close_df =(alpaca_spy_df['SPY']['close'])
spy_close_df

Plot the close price for SPY historical data 2015-2022

In [ ]:
#SPY Historical Data Last 7 Years
spy_close_df.hvplot(
    y='close',
    title='SPY Historical Data 2015-2022',
    xlabel='Year 2015-2022',
    ylabel='SPY Volume'
).opts(
    yformatter='%.0f',
    color='green'
)