In [27]:
#using alpaca to get tsla and gold data

#import libraries
import pandas as pd
import os
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import requests
import json

In [28]:
load_dotenv()

True

In [29]:
# Set the variables for the Alpaca API and secret keys
alpaca_api_key = os.getenv("alpaca_api_key")
alpaca_secret_key = os.getenv("alpaca_secret_key")
display(type(alpaca_api_key))
display(type(alpaca_secret_key))

str

str

In [30]:
#create alpaca api object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

#display response data
#print(json.dumps(request_url,indent=4,sort_keys=True))

In [31]:
#format current dat as iso format for ticker SPY
#come back to choose time period for project.

start_date = pd.Timestamp("2020-06-01",tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-06-05",tz="America/New_York").isoformat()

In [32]:
tickers = ["SPY"]

In [33]:
#set timeframe to ('1Day') for alpaca api
timeframe = '1Day'

In [34]:
#closing price for SPY

spy_df = alpaca.get_bars(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

spy_df

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2020-06-01 04:00:00+00:00,303.63,306.205,303.06,305.55,56679836,316834,305.036356,SPY
2020-06-02 04:00:00+00:00,306.52,308.130,305.10,308.08,74267162,385680,306.679370,SPY
2020-06-03 04:00:00+00:00,310.26,313.220,309.94,312.18,92567574,437729,311.489151,SPY
2020-06-04 04:00:00+00:00,311.12,313.000,309.08,311.36,75794363,423728,311.272310,SPY
2020-06-05 04:00:00+00:00,317.41,321.275,317.16,319.34,151025824,643278,318.179047,SPY

In [35]:
#seperate ticker data

SPY = spy_df[spy_df['symbol']=='SPY'].drop('symbol',axis=1)


#concat
spy_df = pd.concat([SPY],axis=1,keys=['SPY'])

spy_df

                              SPY                                      \
                             open     high     low   close     volume
timestamp
2020-06-01 04:00:00+00:00  303.63  306.205  303.06  305.55   56679836
2020-06-02 04:00:00+00:00  306.52  308.130  305.10  308.08   74267162
2020-06-03 04:00:00+00:00  310.26  313.220  309.94  312.18   92567574
2020-06-04 04:00:00+00:00  311.12  313.000  309.08  311.36   75794363
2020-06-05 04:00:00+00:00  317.41  321.275  317.16  319.34  151025824


                          trade_count        vwap
timestamp
2020-06-01 04:00:00+00:00      316834  305.036356
2020-06-02 04:00:00+00:00      385680  306.679370
2020-06-03 04:00:00+00:00      437729  311.489151
2020-06-04 04:00:00+00:00      423728  311.272310
2020-06-05 04:00:00+00:00      643278  318.179047

In [36]:
#closing price for SPY 

spy_close = spy_df["SPY"]["close"]
spy_close

timestamp
2020-06-01 04:00:00+00:00    305.55
2020-06-02 04:00:00+00:00    308.08
2020-06-03 04:00:00+00:00    312.18
2020-06-04 04:00:00+00:00    311.36
2020-06-05 04:00:00+00:00    319.34
Name: close, dtype: float64

In [37]:
#empty DataFrame for closing prices

spy_closing_df = pd.DataFrame()

#get the closing price of SPY