# GoldSpy Investments
GoldSpy Investments, An up and coming investment fund management took on a small client recently, who wanted to invest a small amount of capital with them. As a beginner to the financial markets he wanted to see if Gold or the S&P500 would be more of a sound investment for the future.

GoldSpy Investments will not present to the client, historical data on both markets, and show which investment is more volatile and lastly what the future may hold for each investment, which the client would then choose to invest in long term.

In [5]:
#import required libraries and dependencies 

import pandas as pd
from pathlib import Path
import os #provides functions for interacting with the operating system
from dotenv import load_dotenv
import requests
import json
import seaborn as sns
import numpy as np
import alpaca_trade_api as tradeapi
import datetime as dt
import pytz
import hvplot.pandas
%matplotlib inline
from matplotlib import pyplot as plt
sns.set_theme(style="ticks", color_codes=True)

In [6]:
# Load .env enviroment variables into the notebook
load_dotenv()

Python-dotenv could not parse statement starting at line 1

True

### Collect and enter LMBA Gold Stock Data

Retrieve and API Key from Nasdaq and store it as a python variable, create a request and response library by using the Nasdaq endpoints.

In [10]:
#retrieve api key from env variable and store as python variable
nasdaq_api_key = os.getenv("nasdaq_api_key")

#define base request url for nasdaq
lmba_gold_url ="https://data.nasdaq.com/api/v3/datasets/LBMA/GOLD?start_date=2022-08-01&end_date=2022-08-24&api_key=Mwi4EGHuLPX4L1CEfouP"

In [11]:
#set the GOLD endpoint
#display response data (super long list)

requests.get(lmba_gold_url).json()

{'dataset': {'id': 11304240,
  'dataset_code': 'GOLD',
  'database_code': 'LBMA',
  'name': 'Gold Price: London Fixing',
  'description': "Gold Price: London Fixings, London Bullion Market Association (LBMA). Fixing levels are set per troy ounce. The London Gold Fixing Companies set the prices for gold that are globally considered as the international standard for pricing of gold. The Gold price in London is set twice a day by five LBMA Market Makers who comprise the London Gold Market Fixing Limited (LGMFL). The process starts with the announcement from the Chairman of the LGMFL to the other members of the LBMA Market Makers, then relayed to the dealing rooms where customers can express their interest as buyers or sellers and also the quantity they wish to trade. The gold fixing price is then set by collating bids and offers until the supply and demand are matched. At this point the price is announced as the 'Fixed' price for gold and all business is conducted on the basis of that price.",
  'refreshed_at': '2022-08-24T23:30:18.397Z',
  'newest_available_date': '2022-08-24',
  'oldest_available_date': '1968-01-02',
  'column_names': ['Date',
   'USD (AM)',
   'USD (PM)',
   'GBP (AM)',
   'GBP (PM)',
   'EURO (AM)',
   'EURO (PM)'],
  'frequency': 'daily',
  'type': 'Time Series',
  'premium': False,
  'limit': None,
  'transform': None,
  'column_index': None,
  'start_date': '2022-08-01',
  'end_date': '2022-08-24',
  'data': [['2022-08-24', 1752.0, 1745.65, 1483.59, 1483.1, 1760.41, 1759.79],
   ['2022-08-23', 1739.45, 1746.55, 1479.05, 1473.04, 1752.84, 1744.8],
   ['2022-08-22', 1732.8, 1733.25, 1467.34, 1471.01, 1731.24, 1737.93],
   ['2022-08-19', 1752.9, 1750.75, 1476.12, 1480.96, 1738.53, 1742.0],
   ['2022-08-18', 1765.6, 1765.55, 1466.15, 1470.53, 1737.53, 1744.36],
   ['2022-08-17', 1773.65, 1767.2, 1465.92, 1463.77, 1742.97, 1737.16],
   ['2022-08-16', 1776.15, 1774.85, 1476.16, 1469.22, 1752.7, 1745.92],
   ['2022-08-15', 1781.45, 1776.6, 1478.07, 1469.78, 1748.67, 1742.13],
   ['2022-08-12', 1788.45, 1792.1, 1472.61, 1480.63, 1735.87, 1746.76],
   ['2022-08-11', 1789.7, 1796.7, 1464.15, 1467.54, 1732.07, 1734.35],
   ['2022-08-10', 1793.5, 1795.05, 1482.15, 1468.17, 1753.33, 1739.22],
   ['2022-08-09', 1790.6, 1795.25, 1477.42, 1482.34, 1748.88, 1753.6],
   ['2022-08-08', 1775.7, 1784.05, 1469.92, 1471.48, 1744.09, 1748.9],
   ['2022-08-05', 1786.75, 1773.25, 1472.82, 1473.04, 1747.26, 1744.35],
   ['2022-08-04', 1777.9, 1783.2, 1460.9, 1473.28, 1744.48, 1749.85],
   ['2022-08-03', 1766.6, 1761.25, 1450.03, 1451.62, 1734.09, 1735.54],
   ['2022-08-02', 1772.9, 1779.75, 1452.36, 1457.26, 1732.3, 1743.62],
   ['2022-08-01', 1766.75, 1772.4, 1443.26, 1444.86, 1722.23, 1727.91]],
  'collapse': None,
  'order': None,
  'database_id': 139}}

### Use pandas
create `read_csv` function and `Path` module to import data from `LMBAGOLD.csv` file and create a dataframe and post 10 most recent prices. del Columns

In [12]:
## Using the read_csv function and Path module, create a DataFrame 
# import information from "LBMAGOLD.csv"
lmba_gold_csv = Path("../Resources/LBMAGOLD.csv")

lmba_gold_df = pd.read_csv(
    lmba_gold_csv,
    # index_col='Date',
    # infer_datetime_format=True,
    # parse_dates=True,
)

columns = ['Date',
   'Open',
   'Close',
   'GBP (Open)',
   'GBP (Close)',
   'EURO (Open)',
   'EURO (Close)']
lmba_gold_df.columns = columns

del lmba_gold_df['Open']
del lmba_gold_df['GBP (Open)']
del lmba_gold_df['GBP (Close)']
del lmba_gold_df['EURO (Open)']
del lmba_gold_df['EURO (Close)']

lmba_gold_df
#review the first 10 and last 10 rows.
lmba_gold_df.head(10)
lmba_gold_df.tail(10)

             Date  Close
13799  1968-01-15    NaN
13800  1968-01-12    NaN
13801  1968-01-11    NaN
13802  1968-01-10    NaN
13803  1968-01-09    NaN
13804  1968-01-08    NaN
13805  1968-01-05    NaN
13806  1968-01-04    NaN
13807  1968-01-03    NaN
13808  1968-01-02    NaN

In [13]:
lmba_gold_df.sort_values(by='Date', ascending=True, inplace=True)

lmba_gold_split_2018 = lmba_gold_df.loc[
    (lmba_gold_df['Date'] >= "2015-12-01")
    & (lmba_gold_df['Date'] <= "2022-08-22")
]
# lmba_gold_df.sort_values(by='Date', ascending=True, inplace=True)
# lmba_gold_df.set_index('Date', inplace=True)
lmba_gold_split_2018.set_index('Date', inplace=True)

print(lmba_gold_split_2018.shape)

display(lmba_gold_split_2018.head(10))
display(lmba_gold_split_2018.tail(10))

(1698, 1)

              Close
Date
2015-12-01  1065.40
2015-12-02  1055.40
2015-12-03  1055.45
2015-12-04  1079.25
2015-12-07  1075.80
2015-12-08  1072.10
2015-12-09  1081.00
2015-12-10  1071.00
2015-12-11  1072.50
2015-12-14  1068.25

              Close
Date
2022-08-08  1784.05
2022-08-09  1795.25
2022-08-10  1795.05
2022-08-11  1796.70
2022-08-12  1792.10
2022-08-15  1776.60
2022-08-16  1774.85
2022-08-17  1767.20
2022-08-18  1765.55
2022-08-19  1750.75

In [ ]:
sns.set(rc={'figure.figsize':(20,10)})
plt.xlabel("Gold Prices from 2018(December) - 2022 (August)", size = 16)
plt.ylabel("Closing Price $", size = 16)
plt.title("LMBA Gold Price History", size = 24)
lmba_sense = sns.lineplot(x = "Date", y ="Close", data = lmba_gold_split_2018, ci=False, markers=True
)