# GoldSpy Investments
GoldSpy Investments, An up and coming investment fund management took on a small client recently, who wanted to invest a small amount of capital with them. As a beginner to the financial markets he wanted to see if Gold or the S&P500 would be more of a sound investment for the future.

GoldSpy Investments will not present to the client, historical data on both markets, and show which investment is more volatile and lastly what the future may hold for each investment, which the client would then choose to invest in long term.

In [21]:
#import required libraries and dependencies 

import pandas as pd
from pathlib import Path
import os
from dotenv import load_dotenv
import requests
import json
import seaborn as sns
import numpy as np
import alpaca_trade_api as tradeapi
import datetime as dt
import pytz
import hvplot.pandas
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
# Load .env enviroment variables into the notebook
load_dotenv()

### Enter LMBA Gold Stock Data

In [ ]:
# Create `start_date` and `end_date` variables
# Both should hold the same date of `2020-07-31`
start_date = '2020-07-31'
end_date = '2022-08-22'

### Collect The Data
Retrieve and API Key from Nasdaq and store it as a python variable, create a request and response library by using the Nasdaq endpoints.

In [ ]:
#retrieve api key from env variable and store as python variable
nasdaq_api_key = os.getenv("nasdaq_api_key")

#define base request url for nasdaq
request_url = "https://www.nasdaq.com/market-activity"

In [ ]:
#make API request from nasdaq site
#display response data (super long list)
lmba_response = requests.get("https://data.nasdaq.com/api/v3/datasets").json()
#print(json.dumps(response, indent=4, sort_keys=True)) (maybe not this section)

In [ ]:
#set the GOLD endpoint

lmba_gold_url ="https://data.nasdaq.com/api/v3/datasets/LBMA/GOLD?start_date=2022-01-01&end_date=2022-08-22&api_key=Mwi4EGHuLPX4L1CEfouP"

requests.get(lmba_gold_url).json()

### Use pandas
create `read_csv` function and `Path` module to import data from `LMBAGOLD.csv` file and create a dataframe and post 10 most recent prices.

In [23]:
## Using the read_csv function and Path module, create a DataFrame 
# import information from "LBMAGOLD.csv"
lmba_gold_csv = Path("../Resources/LBMAGOLD.csv")

lmba_gold_df = pd.read_csv(
    lmba_gold_csv,
    index_col='Date',
    infer_datetime_format=True,
    parse_dates=True)

#review the first 10 and last 10 rows.

lmba_gold_df.head(10)

            USD (AM)  USD (PM)  GBP (AM)  GBP (PM)  EURO (AM)  EURO (PM)
Date
2022-08-19   1752.90   1750.75   1476.12   1480.96    1738.53    1742.00
2022-08-18   1765.60   1765.55   1466.15   1470.53    1737.53    1744.36
2022-08-17   1773.65   1767.20   1465.92   1463.77    1742.97    1737.16
2022-08-16   1776.15   1774.85   1476.16   1469.22    1752.70    1745.92
2022-08-15   1781.45   1776.60   1478.07   1469.78    1748.67    1742.13
2022-08-12   1788.45   1792.10   1472.61   1480.63    1735.87    1746.76
2022-08-11   1789.70   1796.70   1464.15   1467.54    1732.07    1734.35
2022-08-10   1793.50   1795.05   1482.15   1468.17    1753.33    1739.22
2022-08-09   1790.60   1795.25   1477.42   1482.34    1748.88    1753.60
2022-08-08   1775.70   1784.05   1469.92   1471.48    1744.09    1748.90

In [ ]:
lmba_gold_df.hvplot.line()